.rating-count {
  display: inline-block;

  > .arrow-down {
    width: 8px;
    height: 8px;
    fill: $color-grey;
  }

  &.-large {
    font-size: 0.875rem;
  }
  &.-medium {
    font-size: 0.6875rem;
  }
  &.-small {
    font-size: 0.625rem;
  }
}

.tile {
  .rating-count {
    &.-noarrow {
      .arrow-down {
        display: none;
      }
    }
  }
}
