$color-pink: #e4007d;
$color-green: #9acc33;
$color-yellow: #f8c211;
$color-blue: #003761;
$color-grey: #646464;

// Colors Secondary
$color-pink-light: #fce5f2;
$color-pink-dark: #cb136f;
$color-green-light: #f7fbef;
$color-green-dark: #73ae29;
$color-yellow-light: #fef9e7;

// Colors Blue
$color-blue-10: #eff3f6;
$color-blue-20: #e5ebef;
$color-blue-30: #e8eaed;
$color-blue-40: #dae1e6;
$color-blue-50: #91a8ba;
$color-blue-60: #6687a0;
$color-blue-70: #2f5878;
$color-blue-90: #002948;

// Colors Grey
$color-grey-5: #fafafa;
$color-grey-10: #f2f2f2;
$color-grey-20: #e4e4e4;
$color-grey-30: #dddddd;
$color-grey-40: #cccccc;
$color-grey-50: #aaaaaa;
$color-grey-60: #878787;
$color-grey-80: #4a4a4a;
$color-grey-90: #191919;
$color-white: #ffffff;
$color-black: #000000;

// Colors Specials
$color-error: #f16d7a;
$color-visited: #660099;

$color-energylabel-appp: #009136;
$color-energylabel-app: #58ab27;
$color-energylabel-ap: #c9d100;
$color-energylabel-a: #f4e401;
$color-energylabel-b: #fbbb01;
$color-energylabel-c: #eb690b;
$color-energylabel-d: #e3001b;
$color-energylabel-e: #e3001b;
$color-energylabel-f: #e3001b;
$color-energylabel-g: #e3001b;

$color-energylabel2021-a: #00a651;
$color-energylabel2021-b: #50b848;
$color-energylabel2021-c: #b8d03f;
$color-energylabel2021-d: #feef38;
$color-energylabel2021-e: #fab031;
$color-energylabel2021-f: #ed672d;
$color-energylabel2021-g: #e30613;

$color-amazon-star-border: #b68921;
$color-amazon-star-fill: #facb00;

$color-facebook: #395999;
$color-twitter: #5da8de;
$color-pinterest: #b92821;

//Gradients
$gradient-greenblue: linear-gradient(
  to right,
  rgba(170, 209, 0, 0.23) 0%,
  rgba(232, 208, 0, 0.23) 44%,
  rgba(196, 191, 4, 0.23) 54%,
  rgba(28, 112, 22, 0.4) 100%
);
