/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url('/fonts/dosis-light.eot');
  src: url('/fonts/dosis-light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/dosis-light.woff2') format('woff2'),
    url('/fonts/dosis-light.woff') format('woff'),
    url('/fonts/dosis-light.ttf') format('truetype'),
    url('/fonts/dosis-light.svg#dosislight') format('svg');
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/dosis-regular.eot');
  src: url('/fonts/dosis-regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/dosis-regular.woff2') format('woff2'),
    url('/fonts/dosis-regular.woff') format('woff'),
    url('/fonts/dosis-regular.ttf') format('truetype'),
    url('/fonts/dosis-regular.svg#dosisregular') format('svg');
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('/fonts/dosis-medium.eot');
  src: url('/fonts/dosis-medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/dosis-medium.woff2') format('woff2'),
    url('/fonts/dosis-medium.woff') format('woff'),
    url('/fonts/dosis-medium.ttf') format('truetype'),
    url('/fonts/dosis-medium.svg#dosismedium') format('svg');
}
